/* 
    Created on : 10-Apr-2016, 16:22:58
    Author     : Eddy Tarmedi
*/
.left{
    text-align: left;
}
#left{
    text-align: left;
}
body{
    /* This is Comment */
    background-color : lightblue;
}
h1{
    font-family: "Comic Sans MS";
    color: background;
    text-align: left;
}
p{
    font-size: 20px;
    color: red;
}

#header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
#nav{
   line-height: 30px;
   background-color: #eeeeee;
   height: 300px;
   width: 100px;
   float: left;
   padding: 5px;
}
#section{
    width: 350px;
    float: left;
    padding:10px;
}
#footer{
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

